<table class="tab-content">
  <tr class="tr">
    <th *ngFor="let header of headers">
      {{ header }}
    </th>
  </tr>

  <tr *ngFor="let product of products" class="tr">
    <td>{{ product.name }}</td>

    <td>
      <img height="50px" width="50px" src="{{ product.image }}" alt="" />
    </td>

    <td>
      <tr *ngFor="let component of product.components">
        <td style="text-align: center; margin-left: auto; margin-right: auto">
          {{ component.name }}
        </td>
      </tr>
    </td>
    <td>{{ product.quantity }}</td>
    <td>{{ product.type }}</td>
    <td>
      <a
        routerLink="/"
        class="btn btn-light-primary font-weight-bold btn-sm px-4 font-size-base ml-2"
        >Serve</a>
      <a
        (click)="delete(product.id)"
        class="btn btn-light-primary bt-danger font-weight-bold btn-sm px-4 font-size-base ml-2"
        >Cancel</a
      >
    </td>
  </tr>
</table>
